################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

*.vsidx
/.vs/To-do-list/FileContentIndex
*.wsuo
*.sqlite
/.vs
